<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.deslre.mapper.GroupMembersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.deslre.entity.po.GroupMembers">
        <id column="id" property="id" />
        <result column="group_id" property="groupId" />
        <result column="node_id" property="nodeId" />
        <result column="node_type" property="nodeType" />
        <result column="role" property="role" />
    </resultMap>

</mapper>
